/* Reset start */
*{
	box-sizing: border-box;
}
*:focus {
	outline: none;
}
body{
	margin: 0;
	background-color: #fff;
	/* жирность размер шрифт */
	font: 300 15px/1 'Open Sans', sans-serif;
	color: #777;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-weight: normal;
}
p {
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
input, 
textarea,
button {
	outline: none;
	border: none;
}
input[type="submit"] {
	cursor: pointer;
}
button {
	cursor: pointer;
	padding: 0;
}
textarea {
	resize: vertical;
}
blockquote {
	margin: 0;
}
hr {
	border: none;
	background-color: #ececec;
	height: 1px;	
}
/* Reset end */
/* Default class start */
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
.bg-black {
	background-color: #111;
}
.bg-grey {
	background-color: #f8f8f8;
}
.text-uppercase {
	text-transform: uppercase;
}
/* Default class end */
/* Default components start */
.default-section {
	padding: 135px 0;
	/* overflow: hidden; */
}
.small-section {
	padding: 70px 0;
}
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}
.container-fluid {
	padding: 0 15px;
}
.header {
	overflow: hidden;
	padding-top: 26px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
}
.logo {
	float: left;
}
.header .container-fluid {
	max-width: 1576px;
	margin: auto;
}
.header-nav {
	float: right;
	color: rgba(255, 255, 255, 0.75);
	font-size: 11px;
}
.header .header-nav li {
	float:left;
	line-height: 22px;
}
.header .header-nav li + li {
	margin-left: 35px;
}
.title {
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #111;
}
.title.title-white {
	color: #fff;
}
.title.section-title {
	font-size: 18px;
	letter-spacing: 0.5em; 
	margin-bottom: 75px;
	font-weight: 400;
}
.title.section-title-light {
	font-size: 18px;
	letter-spacing: 0.3em;
	margin-bottom: 20px;
	font-weight: 300;
}
.title.member-title {
	letter-spacing: 0.4em;
	font-weight: 400;
	color:#777777;
}
.title.member-title.team-item-name {
	font-size: 15px;
}
.title.member-title.team-item-role {
	font-size: 12px;
}
.default-text {
	font-size: 15px;
	line-height: 1.733;
	font-weight: 300;
}
blockquote, .blockquote {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.6;
}
blockquote span,
.blockquote span {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.btn {
	display: inline-block;
	padding: 12px 20px;
	border-radius: 2px;
	font-family: 'Open Sans';
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.2em;
}
.btn.btn-default {
	background-color: #e5e5e5;
	color: #777;
}
.btn.btn-default:hover {
	background-color: #d1d0d0;
}
.btn.btn-black {
	background-color: #323232;
	color: #fff;
}
.btn.btn-black:hover {
	background-color: #000;
}
.btn.btn-xs {
	padding: 7px 15px;
	font-size: 11px;
}
.btn[disabled] {
	cursor: not-allowed;
	opacity: .6;
}
.form-control {
	width:100%;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	height: 36px;
	font-size: 12px;
	font-family: 'Open Sans';
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #777;
	padding-left: 13px;
	padding-right: 13px;
}
.form-control:focus {
	border-color: #111;
}
.form-control[disabled],
.form-control.disabled {
	cursor: not-allowed;
	opacity: .6;
}
.form-control.error {
	border-color: #f57e7e;
}
textarea.form-control {
	min-height: 82px;
	padding-top: 10px;
}
.form-info {
	font-size: 11px;
	font-weight: 400;
	color: #aaa;
}
.form-info .fa {
	font-size: 12px;
}
.icon-name {
	font-family: 'Dosis';
	font-weight: 400;
	letter-spacing: 0.4em;
}
.icon {
	font-size: 48px;
	padding-bottom: 34px;
} 
.m-auto {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.rhomb-icon {
	display: inline-block;
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	border-radius: 2px;
	font-size: 14px;
	transform: rotate(45deg); 
}
.rhomb-icon.black-icon {
	color: #fff;
	background-color: #111;
}
.rhomb-icon.transparent-icon {
	color: #111;
	border: 1px solid #111;
}
.rhomb-icon i {
	transform: rotate(-45deg);
}
/* Default components end */
/* Guide styles start */
.guide-section form .form-control {
	margin-bottom: 10px;
}
.guide-section form .form-control + .form-control {
	margin-top: 10px;
}
/* Guide styles end */
/* Custom styles start */
/* ----- Inner ----- */
.inner {
	background-image: url('../img/bg.jpg');
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding-top: 74px;
}
.inner::before {
	content:'';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-left: -4px;
}
.inner-content {
	vertical-align: middle;
	display: inline-block;
}
.inner h1 {
	color: #fff;
	font-size: 30px;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	letter-spacing: 1.7em;
	text-indent: 1.7em;
	margin-bottom: 100px;
}
.inner span {
	color: rgba(255, 255, 255, 0.68);
	font-size: 19px;
	display: block;
	font-weight: 300;
}
/* ----- Inner end ----- */
/* ----- About-studio ----- */
.team-wrapper {
	margin-top: 110px;
}
.team-item .team-item-info span {
	display: block;
	margin-bottom: 16px;
}
.team-item .team-item-skills {
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	transition: all .2s linear;
}
.team-item .team-item-img {
	position: relative;
	margin-bottom: 30px;
}
.team-item .team-item-img:hover .team-item-skills {
	opacity: 1;
}
/* ----- About-studio end ----- */
/* ----- Services ----- */
#tabs .tabs-nav {
	overflow: hidden;
	padding-top: 46px;
	padding-bottom: 75px;
}
#tabs .tabs-nav li {
	float: left;
	width: 20%;
	text-align: center;
}
#tabs .tabs-nav .ui-state-active {
	color: #000;
}
#tabs .tabs-nav li span {
	display: block;
}
/* ----- Services end ----- */
/* ----- Lets talk ----- */
.lets-talk-content {
	padding: 140px 0;
}
.lets-talk-content p {
	color: rgba(255, 255, 255, 0.7);
	margin-bottom: 35px;
}
.lets-talk .lets-talk-img {
	margin-top: -32px;
}
/* ----- Lets talk end ----- */
/* ------ Portfolio start ------ */
.portfolio {
	margin-top: 140px;
	margin-bottom: 4px;
}
#portfolio-tabs {
	overflow: hidden;
}
#portfolio-tabs .portfolio-tabs-nav {
	margin-top: 87px;
	margin-bottom: 50px;
}
#portfolio-tabs .portfolio-tabs-nav li{
	display: inline-block;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
}
#portfolio-tabs .portfolio-tabs-nav .ui-state-active {
	color: #111;
}
#portfolio-tabs .portfolio-tabs-nav li + li {
	margin-left: 63px;
}
#portfolio-tabs .portfolio-item {
	width: 33.333%;
	float: left;
	padding: 4px;
}
#portfolio-tabs .portfolio-item img {
	filter: grayscale(100%);
	width: 100%
}
#portfolio-tabs .portfolio-item img:hover {
	filter: none;
}
/* ----- Portfolio end ----- */
/* ------ Portfolio start ------- */
.portfolio .potrfolio-text {
	max-width: 755px;
	margin-left: auto;
	margin-right: auto
}
.potrfolio-text span {
	line-height: 26px;
}
/* ------ Portfolio end ------- */
/* ----- Why choose us ----- */
.choose-wrapper {
	padding-top: 15px;
}
.choose-wrapper .row + .row {
	margin-top: 88px;
}
.choose-item .choose-logo {
	color: #000;
	margin-bottom: 34px;
}
.choose-item .choose-logo span {
	display: block;
} 
.choose-item .choose-item-info {
	line-height: 2.6;
	font-size: 14px;
}
/* ----- Why choose us end ----- */
/* ----- Latest news start ----- */
.latest-news {
	overflow: hidden;
}
.latest-news .title a {
	float: right;
	font-size: 11px;
	letter-spacing: 0.4em;
	color: #999999;
}
.latest-news .latest-news-item-img {
	margin-bottom: 31px;
	filter: grayscale(100%);
}
.latest-news .latest-news-item-img:hover {
	filter: none;
}
.latest-news .latest-news-title {
	margin-bottom: 29px;
}
.latest-news .latest-news-title span {
	font-size: 15px;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	display: block;
	color: #777777;
}
.latest-news .latest-news-title span + span {
	margin-top: 19px;
}
.latest-news .latest-news-title .title-desc {
	font-size: 11px;
	letter-spacing: 0.4em;
	color: #999999;
}
.latest-news .latest-news-description {
	color: #777777;
	margin-bottom: 32px;
}
/* ----- Latest news end ----- */
/* ------ Reviews-carousel start ------ */
.reviews-carousel {
	padding: 135px 0;
	overflow: hidden;
}
.reviews-carousel .slide-content {
	margin:auto;
	max-width: 680px;
}
.reviews-carousel .slide-content .title {
	margin-bottom: 46px;
}
.reviews-carousel .slide-content p {
	font-size: 18px;
	color: #fff;
	margin-bottom: 26px;
	line-height: 30px;
}
.reviews-carousel .slide-content .review-author {
	font-size: 11px;
	color: rgba(255, 255, 255, 0.3);
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
.slick-dots {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 30px;
}
.slick-dots li {
	display: inline-block;
	width: 9px;
	height: 9px;
	background-color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
	border: 1px solid #000;
	border-radius: 50%;
}
.slick-dots li + li {
	margin-left: 5px;
}
.slick-dots li button {
	display: none;	
}
.slick-dots li.slick-active {
	background-color: #000;
	border-color:rgba(255, 255, 255, 0.8);
}
.slick-arrow {
	position: absolute;
	height: 100%;
	top: 0;
	cursor: pointer;
	z-index: 1;
	width: 90px;
}
.slick-arrow.slick-prev {
	left: 0;
}
.slick-arrow.slick-next {
	right: 0;
}
.slick-arrow.slick-next .carousel-button {
	right: 0;
	margin-right: -31px;
}
.slick-arrow .carousel-button {
	width: 63px;
	height: 63px;
	background-color: #fff;
	text-align: center;
	line-height: 63px;
	transform: rotate(-45deg);
	position: absolute;
	top: 50%;
	margin-left: -32px;
	margin-top: -31px;
}
.slick-arrow .carousel-button .fa {
	position: absolute;
	font-size: 10px;
}
.slick-arrow.slick-prev .carousel-button .fa {
	transform: rotate(45deg);
	bottom: 14px;
	right: 17px;
}
.slick-arrow.slick-next .carousel-button .fa {
	transform: rotate(-135deg);
	top: 14px;
	left: 17px;
}
/* ------ Review-carousel end ------ */

/* ----- Subscribe ----- */
.subscribe form .form-control {
	max-width: 290px;
}
.subscribe .form-info {
	margin-top: 17px;
}
/* ----- Subscribe end----- */

/* ------ Contact Start ------ */
.contact-items-wrapper {
	padding-top: 25px;
}
.contact-item-content {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}
.contact-item-content span {
	display: block;
}
.contact-item-content .contact-title {
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-size: 12px;
}
.contact-item-content .contact-item-data {
	color: #444444;
	
}
.contact-item-content span + span {
	margin-top: 14px;
}
/* ------ Contact end ------- */
/* ----- Footer start ------- */
.footer {
	margin-top: 140px;
	margin-bottom: 60px;
}
.footer .footer-logo {
	margin-bottom: 24px;
}
.footer .footer-logo-nav {
	margin-bottom: 108px;
}
.footer .footer-logo-nav li {
	line-height: 20px;
}
.footer .footer-logo-nav li + li {
	margin-left: 13px;
}
.footer-text .footer-copyright {
	font-size: 12px;
	letter-spacing: 0.5em;
	color: black;
	display: block;
	margin-bottom: 17px;
}
.footer-text .footer-made {
	font-size: 11px;
}
/* ----- Footer end ----- */
/* Custom styles end */
